- name: install faill2ban
  apt:
    name: fail2ban
    state: latest

- name: Enable fail2ban with systemctl
  ansible.builtin.systemd:
    name: "fail2ban"
    enabled: yes
    masked: no
    state: restarted