tls:
  # stores:
  #   default:
  #     defaultCertificate:
  #       certFile: /etc/traefik/static/server_default.cert
  #       keyFile: /etc/traefik/static/server_default.key

  options:
    default:
      cipherSuites:
        - TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384
        - TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
        - TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256
        - TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
        - TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305
        - TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305
      minVersion: VersionTLS12
{% if traefik_letencrypt_enabled %} 
      sniStrict: {{ traefik_tls_options_default_strictsni }}
{% endif %} 