# handlers file for cyberdinge.prometheus


# TODO this fails when the node calling is not a prometheus host.
# must be limited to prometheus hosts
- name: "prometheus - add static scrape file"
  ignore_errors: true #TODO and then this will not be needed anymore
  ansible.builtin.copy:
    dest: "{{ prometheus_installdir }}/config/scrapeconfig/{{ inventory_hostname}}_{{ scrape_target_job }}.yml"
    owner: root
    group: root
    mode: '0660'
    force: yes
    content: |
      ---
      - labels:
          job: "{{ scrape_target_job }}"
          hostname: "{{ scrape_target_hostname }}"
          domain: "{{ scrape_target_domain }}"    
          network: "{{ scrape_target_network }}"

        targets:
          - "{{ scrape_target_url }}"
